*{
    padding: opx;
    margin: 0px;
}
nav{
    font-family: 'Open Sans', sans-serif;
    margin: 0 110px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.nav-left{
    font-size: 30px;
}
.nav-right{
    display: flex;
    align-items: center;
    
}
.color{
    color: rgb(239, 109, 62);
    padding: 7px;

}
.b-color{
    background-color: rgb(239, 109, 62);
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500px;
    padding: 15px 25px;
}
.header{
    background-color: rgb(255, 248, 243)
}
.banner{
    display: flex;
    background-image: url("../images/header_bg.png");
    background-size: 750px;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 30px 20px 0px 150px;
    

}
.img{
    height: 450px;
    width: 400px;
}
section { 
    background-color: hwb(33 76% 2%);
    margin: 50px 70px;
    padding-bottom: 70px;

}


.information{
    text-align: center;
    margin: 50px 100px 50px;
   
}
.title{
    padding: 30px;
    font-size: 35px;
}
.details{
    margin-top: 7px;
    font-size: 15px;
}
.last{
    display: flex;
    justify-content: space-around;
    padding: 7px;
}
h4{
    font-size: 18px;
}
.end{
    font-size: 12px;
}
